@import "tailwindcss";


/* Shimmer Animation */
@keyframes shimmer-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer-slide {
  animation: shimmer-slide 1.5s infinite;
}